@use '../util/' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  background-image: url(../../../images/background-pattern-mobile.svg);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: top center;
  color: var(--text);

  @include breakpoint(small) {
    background-image: url(../../../images/background-pattern-desktop.svg);
    background-size: auto rem(320);
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--light-pink);
  height: 0;
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
