@use '../util/' as *;

.accordion {
  &__item {
    &:not(:first-child) {
      padding-top: rem(20);
    }
    &:not(:last-child) {
      padding-bottom: rem(20);
      border-bottom: 1px solid var(--light-pink);
    }

    @include breakpoint(small) {
      &:not(:first-child) {
        padding-top: rem(24);
      }
      &:not(:last-child) {
        padding-bottom: rem(24);
      }
    }
  }

  &__trigger {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-right: rem(55);
    color: var(--text);
    text-align: left;
    font-family: inherit;
    font-size: rem(16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.25s ease-in-out;

    &::after {
      content: '';
      display: block;
      height: rem(30);
      width: rem(30);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-image: url(../images/icon-plus.svg);
      background-repeat: no-repeat;
    }

    &[aria-expanded='true'] {
      margin-bottom: rem(24);

      &::after {
        background-image: url(../images/icon-minus.svg);
      }
    }

    @include breakpoint(small) {
      font-size: rem(18);
    }

    &:hover {
      color: var(--faq-hover);
    }
  }

  &__panel {
    margin: 0;
    font-size: rem(14);
    line-height: 150%;
    font-weight: 400;
    color: var(--faq-text);

    @include breakpoint(small) {
      font-size: rem(16);
    }
  }
}
